.App {
  text-align: center;
  min-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* start -------------------------------------------- */

/* tools for structure */

* {
  /* background-color: #61dafb49; */
}

/* header */
/* nav */
nav > ul {
  margin: 0;
}

/* structure main components */

main{
  display: grid;
  grid-template-columns: 1fr 2fr;
  
  overflow: hidden;
}

/* chat-room-section */
.chat-rooms-section {
  overflow: hidden;
}

/* chat */

.chat-section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* messages */

.messages-div {
  overflow: hidden;
  height: 80vh;
  padding-top: 20px;
}

.message {
  padding: 0 10px;
  margin: 0 10px;
  border: 1px dashed black;
  border-radius: 10px;
}

.recived-message {
  display: flex;
  justify-content: start;
 }

.sent-message {
  display: flex;
  justify-content: end;
 }